<h1>All Restaurants</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.category.capitalize %></td>
        <td><%= restaurant.address %></td>
        <td>
          <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-success" %>
